@model IEnumerable<MiniCursos.Models.GrupoCursoQuantidadeDisciplina>
@{
    ViewBag.Title = "DashboadCursos";
}

<div class="row">
    <h2>Dados do Curso</h2>
</div>
<div class="row">
    @foreach (var item in Model)
    {
        <a href="/Cursos/DisciplinaPorCurso?id=@item.Codigo"> 
          <div class="col-md-2 divCursoItemDashboard">
            <div>
                <h2>@item.Quantidade</h2>
            </div>
            <div>
                @item.Descricao
            </div>
          </div>

      </a>
     
    }

</div>

