@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    
    <div>
        <a href="/Cursos/Index">
            <div class="col-md-2 divCursoItemDashboard">
                <div>
                    <h2>Cursos</h2>
                </div>
            </div>
        </a>
    </div>
    <div>
        <a href="/Disciplinas/Index">
            <div class="col-md-2 divCursoItemDashboard">
                <div>
                    <h2>Disciplinas</h2>
                </div>
            </div>
        </a>
    </div>
    <div>
        <a href="/Home/DashboadCursos">
            <div class="col-md-2 divCursoItemDashboard">
                <div>
                    <h2>Dashboard</h2>
                </div>
            </div>
        </a>
    </div>



</div>

