<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
@{
    ViewBag.Title = "Login";
    Layout = null;
}
<html>
<head>
</head>
<body class="backlogin">
    <div class="divlogin">
        <form action="/Home/VerificarLogin" method="post">

            <div class="divitems">
                <label>Login: </label>
                <input class="inputLogin" name="login" type="text" required />
            </div>
            <div class="divitems">
                <label>Senha: </label>
                <input class="inputLogin" name="senha" type="password" required />
            </div>
            <div class="divitems">
               <button class="btn btn-success btnLogin" type="submit">Logar</button>
            </div>
            <div>
                @ViewBag.textoErro
            </div>

        </form>
    </div>
</body>
</html>






