
@{
    ViewBag.Title = "Create";
}

<h2>Cadastro area</h2>
<br />
<div>
    <form action="/Area/Create" method="post">
        <label> Descrição:</label>
        <input type="text" id="descricao" name="descricao"
               required />
        <br />
        <br />
        <a href="/Area/Index" class="btn btn-primary">Voltar</a>
        <button class="btn btn-success" type="submit">Salvar</button>
    </form>
</div>

