@model IEnumerable<TdsAlmoxarifado.Models.AREA>
@{
    ViewBag.Title = "Index";
}

<h2>Cadastrar Area <a href="/Area/Create" class="btn bnt-success">Novo</a></h2>

<table class="table">
    <thead class="table-dark">
        <tr>

            <th>
                Codigo

            </th>

            <th>
                Descrição
            </th>

            <th>
                Opções
            </th>

        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @item.AREID
                </td>
                <td>
                    @item.ARESDESCRICAO
                </td>
                <td>
                    <a href="/Area/Edit?id=@item.AREID" class="btn btn-warning">Editar</a>
                    <a href="/Area/Exibir?id=@item.AREID" class="btn btn-primary">Exibir</a>
                    <a href="/Area/Excluir?id=@item.AREID" class="btn btn-danger">Excluir</a>
                </td>
            </tr>

        }

    </tbody>

</table>