
@{
    ViewBag.Title = "Create";
}

<h2>Cadastro de Cursos</h2>

<div>
    <form action="/Cursos/Create" method="post">


        <div class="form-group">
            <label for="curso">Curso</label>
            <input type="text" class="form-control"
                   maxlength="100" id="curso" name="curso"
                   required />
        </div>

        <div class="form-group">
            <label for="habilidade">Habilidade</label>
            <input type="text" class="form-control"
                   maxlength="100" id="habilidade" name="habilidade"
                   required />
        </div>

        <div class="form-group">
            <label for="modalidade">Modalidade</label>
            <input type="text" class="form-control"
                   maxlength="100" id="modalidade" name="modalidade"
                   required />
        </div>

        <div>
            <a href="/Cursos/Index"> <button type="button" class="btn btn-group">Voltar</button> </a>
            <button type="submit" class="btn btn-success">Salvar</button>
        </div>

    </form>
</div>

