
@{
    ViewBag.Title = "Deletando";
}

<h2>Atualizando Produtos</h2>

<div>
    <form action="/Produto/Delete" method="post">
        <div class="form-group">
            <label>Descrição</label>
            <label>ValorEstático</label>
        </div>

        <div class="form-group">
            <label>Minimo</label>
            <label>10</label>
        </div>

        <div class="form-group">
            <label>Maximo</label>
            <label>10</label>
        </div>

        <div class="form-group">
            <label>Estoque atual</label>
            <label>10</label>
        </div>

        <div>
            <a href="/Produto/Index"> <button type="button" class="btn btn-primary">Voltar</button>  </a>
        </div>
        

    </form>
</div>

